.productsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.comments{
    background-color: rgb(254 255 151);
    margin: 2%;
    border-radius: 10px;
}

.commentMail{
    float: right;
    font-style: italic;
    font-size: small;
}

.commentText{
    font-size: larger;
}

.approveComments{
    background-color: yellowgreen;
    border-radius: 10px;
}

.approveCommentsEmail{
    float: right;
}

.approveCommentsText{
    font-weight: bold;
}

.approveCheckbox{
    font-weight: bold;
}


